/* Common style start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");


:root {
    --themeOrange: #ae3800;
    --gray: #efefef;
}

html {
    scroll-behavior: smooth;
}


button,
body {
    font-family:  "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
    line-height: 26px;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 1140px;
    margin: auto;
}

.sectionTitle {
    width: 300px;
    border-bottom: 3px solid var(--themeOrange);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after{
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--themeOrange);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section {
    padding: 100px 0;
    position: relative;
}

/* Common style end */

/* Home style start */

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 1px 0;
    height: 85px;
}

header .container .logo img {
    height: 100%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 85px;
    line-height: 85px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--themeOrange);
}

.banner {
    display: flex;
    min-height: 100vh;
    background-image: url("Pictures/banner_background.png");
    background-size: cover;
    background-attachment: fixed;
}

.banner h1 {
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #000;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span {
    background-color: var(--themeOrange);
    display: inline-block;
    line-height:  3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p {
    color: #000;
    width: 50%;
    text-shadow: 0 0 2px #000; 
    margin-top: 10px;
}

.banner button {
    background-color: var(--themeOrange);
    border: 0;
    outline: none;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
}

.banner button:hover {
    background-color: #000;
}

i {
    padding-right: 8px;
}


/* Home style end */

/* gettingStarted beginning */

.sectionTitle2 {
    width: 575px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

#gettingStarted {
    background-color: rgba(190, 157, 157, 0.137);
    height: 1100px;
}

#gettingStarted .startingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
    position: relative;
    height: 350px;
    padding-left: 100px;
    padding-right: 100px;
}

#gettingStarted .startingCards > div {
    width: 550px;
    padding: 35px;
    color: #444;
    text-align: left;
    height: 380px;
    margin-bottom: 1px;
}

#gettingStarted .startingCards > div .title {
    
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: var(--themeOrange);
    padding-bottom: 12px;
}

#gettingStarted .startingCards > div p {
    font-size: 16px;
    padding-top: 8px;
    font-weight: bold;
    display: inline;
}

#gettingStarted .startingCards img {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    margin-bottom: 60px; /* Added to keep text from moving to bottom of photo */
}

#gettingStarted .startingCards .stepTwo {
        padding-top: 180px;
}

#gettingStarted .startingCards .stepFour {
        padding-top: 180px;
        
}

/* servicesOffered Start */

#servicesOffered .serviceCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2px;
    position: relative;
    height: 350px;
}

#servicesOffered .serviceCards > div {
    width: 350px;
    padding: 3px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 420px;
    margin-bottom: 100px;
    transition: 0.3s;
}

#servicesOffered .serviceCards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--themeOrange);
}

#servicesOffered .serviceCards > div p {
    font-size: 16px;
    margin-top: 15px;
}

#servicesOffered .serviceCards > div button {
    background-color: #000;
    color: #fff;
    outline: #000;
    padding: 7px 30px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

#servicesOffered .serviceCards > div button:hover {
    background-color: var(--themeOrange);
    color: #fff;
    transition: 0.3s;
}

#servicesOffered .serviceCards > div .buttonToggle {
    display: none;
}

#servicesOffered .serviceCards img {
    width: 100px;
    height: 170px;
}

#servicesOffered .serviceCards .groomingService img {
    width: 115px;
    height: 170px;
}

/* servicesOffered End */

/* classesOffered Start */

#classesOffered .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 280px;
}

#classesOffered .cards > div {
    width: 350px;
    background-color: var(--gray);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 310px;
    border: 1px solid #ccc;
    transition: 0.4s;
    margin-bottom: 50px;
}

#classesOffered .cards > div:hover {
    width: 400px;
    margin-top: -20px;
    border-color: var(--themeOrange);
    padding: 55px;
    height: auto;
}

#classesOffered .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#classesOffered .cards > div p {
    font-size: 14px;
    margin-top: 15px;
}

#classesOffered .cards > div button {
    border: 1px solid var(--themeOrange);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#classesOffered .cards > div:hover button {
    background-color: var(--themeOrange);
    color: #fff;
}

#classesOffered .cards img {
    width: 50px;
    height: 50px;
}

/* classesOffered end */

/* Testimonies Start */

#testimonies {
    margin-top: 750px;
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

#testimonies .inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

#testimonies .border {
    width: 160px;
    height: 5px;
    background: var(--themeOrange);
    margin: 26px auto;
}

#testimonies .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#testimonies .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

#testimonies .testimonial {
    background: #fff;
    padding: 30px;
}

#testimonies .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#testimonies .testimonial .name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

#testimonies .testimonial .stars {
    color: var(--themeOrange);
    margin-bottom: 20px;
}

/* Footer Begins Here */

.bottomSection {
    padding-bottom: 0px;
    padding-top: 0px;
}

.bottomSection a {
    text-decoration: none;
    transition: .5s;
    color: #fff;
}

.bottomSection ul, li {
    list-style-type: none;
}

footer {
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.footer_info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.footer_info .footer_width {
    padding: 0 15px;
}

.footer_info h2 {
    margin-bottom: 20px;
    color: var(--themeOrange);
}

.about .contact {
    width: 40%;
}

.link {
    width: 20%;
}

.social-media {
    margin-top: 30px;
}

.social-media ul {
    display: flex;
}

.social-media ul li a {
    display: inline-block;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
}

.social-media ul li a:hover {
    background-color: var(--themeOrange);
    color: #000;
}

.link ul li a {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.link ul li a:hover {
    color: var(--themeOrange);
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact ul li span {
    margin-right: 15px;
}

.copy-right {
    padding: 15px 0;
    text-align: center;
    background-color: rgb(27, 27, 27);
}

.copy-right a {
    color: #fff;
    text-decoration: underline;
}

/* Footer Ends Here */

/* Responiveness For Testimony and Footer Section  Starts*/

@media screen and (max-width: 1024px) {
    #testimonies .col {
        flex: 100%;
        max-width: 80%;
    }

    /* Footer Start */

    .about .contact {
        width: 35%;
    }

    .link {
        width: 30%;
    }

    /* Footer End */
}

@media screen and (max-width: 600px) {
    #testimonies .col {
        flex: 100%;
        max-width: 100%;
    }

    .about .contact .link {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_info {
        flex-direction: column;
    }
}

/* Responsiveness for other screen sizes starts here */

@media screen and (min-width: 1645px) {
    .footer_info {
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding: 50px 0;
        justify-content: center;
        gap: 400px;
    }
}

@media screen and(max-width: 1140px) {
    .container {
        width: 100%;
        padding: 0 15px;
        
    }
}

@media screen and (max-width: 1080px) {
    .banner h1 {
        margin-top: 200px;
    }

    #classesOffered {
        height: 2500px;
    }

    #classesOffered .container h2 {
        display: flexbox;
    }

    #classesOffered .cards {
        display: flex;
        flex: 100%;
        max-width: 80%;
        
    }

    #classesOffered .cards > div {
        margin: 10px 0;
    }

    
}

@media screen and (max-width: 1300px) {

    header .logo {
        margin-left: 20px;
    }

    header .container {
        width: 100%;
        padding-right: 20px;
    }

    /* banner Section Starts */

    .banner {
        display: flex;
        padding-bottom: 100px;
    }

    .banner h1 {
        width: 100%;
        text-align: left;
        padding: 20px;
    }

    #homeSection .container p {
        width: 50%;
        text-align: left;
        padding: 20px;
        
    }

    .bannerButton {
        display: flex;
        justify-content: left;
        padding: 20px;
    }
    /* banner Section Ends */

    /* gettingStarted Section Starts Here */

    section #gettingStarted {
        display: flex;
        background-color: rgba(190, 157, 157, 0.137);
    }

    #gettingStarted {
        height: 100%;
        width: 100%;
    }

    #gettingStarted .startingCards {
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;
    }

    #gettingStarted .startingCards .stepOne {
        padding-top: 0px;
        justify-content: left;
    }

    #gettingStarted .startingCards .stepTwo {
        padding-top: 200px;
        
    }

    #gettingStarted .startingCards .stepThree {
        padding-top: 0px;
        
    }

    #gettingStarted .startingCards .stepFour {
        padding-top: 200px;
    }

    #gettingStarted .startingCards img {
        display: flex;
        float: left;
        margin-bottom: 0px;
        margin-right: auto;
        margin-left: auto;
        justify-content: left;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    #gettingStarted .startingCards > div {
        width: 50%;
        padding-left: 20px;
        padding-right: 80px;
        color: #444;
        height: auto;
        margin-bottom: 30px;
        /* background-color: red;  */
    }

    #gettingStarted .title {
        text-align: left;
    }

    #gettingStarted .sectionTitle2 {
        display: flex;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 800;
        justify-content: center;
    }

    #gettingStarted .startingCards > div p {
        display: flex;
        text-align: left;
    }

    /* gettingStarted Section Ends Here */

    /* servicesOffered Section Starts */

    #servicesOffered {
        display: flex;
        padding-top: 150px;
    }

    #servicesOffered .serviceCards {
        
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #servicesOffered .serviceCards .imageToggle {
            display: none;
    }

    #servicesOffered .serviceCards > div .buttonToggle {
        display: inline;
    }

    /*servicesOffered Section Ends */

    /* classesOffered Section Starts */

    #classesOffered {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 100%;
    }

    #classesOffered .cards > div:hover {
        width: 350px;
    }

    #classesOffered .container h2 {
        display: flex;
    }

    #classesOffered .cards {
        flex: 100%;
        max-width: 100%;
        gap: 5px;
        justify-content: center;
        height: 100%;
    }

    #classesOffered .cards > div {
        margin: 10px 0;
        align-items: center;
    }

    #classesOffered .container {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
        width: 100%;
    }
    /* classesOffered Section Ends */

    /* testimonies section starts */

    #testimonies {
        margin-top: 0px;
        height: 100%;
    }

    /* testimonies section ends */
}

@media screen and (max-width: 968px) {
    header .container {
        width: 100%;
        justify-content: right;
        padding-right: 10px;
    }

    .container .logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    header nav {
        position: absolute;
        border: 2px solid #fff;
        height: 30px;
        width: 30px;
        margin-top: 20px;
        border-radius: 5px;
        justify-content: right;
    }

    header nav:after {
        top: 17px;
    }

    header nav:before {
        top: 7px;
    }

    header nav:after, header nav:before{
        content: "";
        height: 2px;
        width: 17px;
        background-color: #fff;
        display: block;
        position:  absolute;
        left: 5px;
    }

    header nav ul {
        position: absolute;
        right: -400px;
        top: 53px;
        transition: 0.5s;
    }

    header nav:hover ul {
        right: -15px;
    }

    header nav ul li {
        display: block;
    }

    header nav ul li a {
        width: 300px;
        background-color: rgba(0, 0, 0, 0.6);
    }

    /* navigation Section Ends */

    /* banner Section Starts */

    .banner {
        display: flex;
        background-image: none;
        padding-bottom: 100px;
    }

    .banner h1 {
        width: 100%;
        text-align: center;
    }

    #homeSection .container p {
        width: 100%;
        text-align: center;
        padding: 20px;
        
    }

    .bannerButton {
        display: flex;
        justify-content: center;
    }
    /* banner Section Ends */

    /* gettingStarted Section Starts Here */

    section #gettingStarted {
        flex: none;
        display: inline;
        background-color: rgba(190, 157, 157, 0.137);
    }

    #gettingStarted {
        height: 2150px;
    }

    #gettingStarted .startingCards {
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        
    }

    #gettingStarted .startingCards .stepOne {
        padding-top: 0px;
    }

    #gettingStarted .startingCards .stepTwo {
        padding-top: 0px;
    }

    #gettingStarted .startingCards .stepThree {
        padding-top: 0px;
        
    }

    #gettingStarted .startingCards .stepFour {
        padding-top: 0px;
    }

    #gettingStarted .startingCards img {
        display: flex;
        float: none;
        margin-bottom: 0px;
        margin-right: auto;
        margin-left: auto;
        align-content: center;
        padding-bottom: 10px;
    }

    #gettingStarted .startingCards > div {
        width: 550px;
        padding: 80px;
        color: #444;
        height: auto;
        margin-bottom: 30px;
        /*background-color: red; /* Only for Testing */
    }

    #gettingStarted .title {
        text-align: center;
    }

    #gettingStarted .sectionTitle2 {
        display: flex;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 800;
        justify-content: center;
    }

    #gettingStarted .startingCards > div p {
        display: flex;
        text-align: center;
    }

    /* gettingStarted Section Ends Here */

    /* servicesOffered Section Starts */

    #servicesOffered {
        display: flex;
        padding-top: 150px;
    }

    #servicesOffered .serviceCards {
        
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #servicesOffered .serviceCards .imageToggle {
            display: none;
    }

    #servicesOffered .serviceCards > div .buttonToggle {
        display: inline;
    }

    /*servicesOffered Section Ends */

    /* classesOffered Section Starts */

    #classesOffered {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 100%;
    }

    #classesOffered .cards > div:hover {
        width: 350px;
    }

    #classesOffered .container h2 {
        display: flex;
    }

    #classesOffered .cards {
        flex: 100%;
        max-width: 100%;
        gap: 5px;
        justify-content: center;
        height: 100%;
    }

    #classesOffered .cards > div {
        margin: 10px 0;
        align-items: center;
    }

    #classesOffered .container {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
        width: 100%;
    }
    /* classesOffered Section Ends */

    /* testimonies section starts */

    #testimonies {
        margin-top: 0px;
        height: 100%;
    }

    /* testimonies section ends */

    /* Footer Section Starts Here */

    .about .contact .link {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_info {
        flex-direction: column;
        
    }

    .footer_info p {
        text-align: center;
    }

    .footer_info h2 {
        text-align: center;
    }

    .social-media {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .social-media ul {
        justify-content: center;
    }

    .social-media ul li {
        padding: 10px;
    }

    .social-media ul li a {
        margin-right: 0px;
    }

    .link {
        Width: 100%;
    }

    .link ul li {
        text-align: center;
    }

    .contact ul li  {
        justify-content: center;
    }

    /* Footer Section Ends Here */
}

@media screen and (max-width: 704px) {

    #servicesOffered{
        height: 100%;
    }

    #classesOffered .cards {
        height: 100%;
        
    }
    #classesOffered .container {
        width: 100%;
        padding-bottom: 200px;
    }

    #testimonies {
        display: flex;
        margin-top: 0px;
        height: 100%;
    }
}

@media screen and (max-width: 425px) {

    /* Navigation Section Starts Here */

    
    header .container {
        width: 100%;
        justify-content: right;
        padding-right: 10px;
    }

    .container .logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    header nav {
        position: absolute;
    }

    header nav ul {
        position: absolute;
        right: -400px;
        top: 53px;
        transition: 0.5s;
        width: 200px;
    }

    /* Navigation Section Ends Here */

    /* Banner Section Starts Here */

    .banner {
        display: flex;
        background-image: none;
        padding-bottom: 100px;
    }

    .banner h1 {
        width: 100%;
        text-align: center;
    }

    #homeSection .container p {
        width: 100%;
        text-align: center;
        padding: 20px;
        
    }

    .bannerButton {
        display: flex;
        justify-content: center;
    }
    /* Banner Section Ends Here */

    /* gettingStarted Section Starts Here */

    section #gettingStarted {
        flex: none;
        display: inline;
        background-color: rgba(190, 157, 157, 0.137);
    }

    #gettingStarted {
        height: 2150px;
    }

    #gettingStarted .startingCards {
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        
    }

    #gettingStarted .startingCards .stepOne {
        padding-top: 0px;
    }

    #gettingStarted .startingCards .stepTwo {
        padding-top: 0px;
    }

    #gettingStarted .startingCards .stepThree {
        padding-top: 0px;
        
    }

    #gettingStarted .startingCards .stepFour {
        padding-top: 0px;
    }

    #gettingStarted .startingCards img {
        display: flex;
        float: none;
        margin-bottom: 0px;
        margin-right: auto;
        margin-left: auto;
        align-content: center;
        padding-bottom: 10px;
    }

    #gettingStarted .startingCards > div {
        width: 550px;
        padding: 80px;
        color: #444;
        height: auto;
        margin-bottom: 30px;
        /*background-color: red; /* Only for Testing */
    }

    #gettingStarted .title {
        text-align: center;
    }

    #gettingStarted .sectionTitle2 {
        display: flex;
        width: 80%;
        font-size: 1.5rem;
        font-weight: 800;
    }

    #gettingStarted .startingCards > div p {
        display: flex;
        text-align: center;
        width: 250px;
    }

    /* gettingStarted Section Ends Here */

    /* Service Section Starts Here */

    #servicesOffered {
        display: flex;
        padding-top: 150px;
        max-width: 100%;
    }

    #servicesOffered .serviceCards {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1400px;
    }

    #servicesOffered .serviceCards .imageToggle {
            display: none;
    }

    #servicesOffered .serviceCards > div .buttonToggle {
        display: inline;
    }

    #servicesOffered .serviceCards p {
        
    }

    /* Service Section Ends Here */

    /* classesOffered Section Starts */

    #classesOffered .cards > div:hover {
        width: 350px;
    }

    #classesOffered {
        display: flex;
    }

    #classesOffered .container h2 {
        display: flex;
    }

    #classesOffered .cards {
        
        flex: 100%;
        max-width: 100%;
        height: 2500px;
        justify-content: center;
    }

    #classesOffered .cards > div {
        margin: 10px 0;
        align-items: center;
    }
    /* classesOffered Section Ends */

    /* Footer Section Starts Here */

    .about .contact .link {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_info {
        flex-direction: column;
        
    }

    .footer_info p {
        text-align: center;
    }

    .footer_info h2 {
        text-align: center;
    }

    .social-media {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .social-media ul {
        justify-content: center;
    }

    .social-media ul li {
        padding: 10px;
    }

    .social-media ul li a {
        margin-right: 0px;
    }

    .link {
        Width: 100%;
    }

    .link ul li {
        text-align: center;
    }

    .contact ul li  {
        justify-content: center;
    }

    /* Footer Section Ends Here */
}

@media screen and (max-width: 375px) {

    header {
        display: flex;
        position: none;
    }

    header .container {
        display: flex;
    }

    header nav ul li a {
        width: 200px;
    }

    #servicesOffered {
        padding-top: 100px;
    }

    #servicesOffered .container {
        width: 100%;
    }
    
    #servicesOffered .serviceCards{
        height: 100%;
    }

    #servicesOffered .serviceCards > div {
        width: 100%;
        padding-bottom: 100px;
    }

    #classesOffered {
        height: 100%;
        padding-top: 0px;
    }

    #classesOffered .cards {

        width: 100%;
        justify-content: center;
        height: 100%;
        padding: 10px;
        gap: 10px;
    }

    #classesOffered .cards > div {
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    
    #classesOffered .container {
        width: 100%;
        padding-bottom: 20px;
    }

    .container {
        width: 100%;
    }

    #gettingStarted .startingCards {
        display: flex;
        width: 100%;
        height: 100%;

    }

    #testimonies {
        margin-top: 0px;
    }

    .bottomSection {
        padding: 0px 0px;
    }

    #gettingStarted .startingCards > div {
        width: 100%;
    }

    #gettingStarted .startingCards > div p {
        width: 100%;
    }

    #gettingStarted {
        display: flex;
        flex-direction: column;
        height: 100%;

    }


}
/* Responsiveness for main site ends here */